<div class="page-wrapper">
  <div class="AttributeContainer">
    <form>
      <h4>Stat modifier</h4>
      <div class="Attribute">
        @for (item of raceTraitOptions; track $index) {
          <label for="{{ item }}">{{ item }}</label
          ><br />
          <input type="number" name="{{ item }}" max="5" min="0" />
          <br />
        }
      </div>
    </form>
  </div>

  <div class="AttributeContainer">
    <form [formGroup]="raceLanguageForm" (ngSubmit)="onSubmitLanguage()">
      <h4>Language</h4>
      @for (item of languagesFormArray.controls; track $index) {
        <div [formGroup]="item">
          <div>
            <label>Langue {{ $index + 1 }}:</label>
            <app-input-autocomplete-list
              [elements]="languageList"
              [formControl]="item.controls['language']"
              (textTyped)="loadLanguageFilter($event)"
            />
          </div>
          @if ($index > 0) {
            <button type="button" (click)="removeLanguage($index)">remove</button>
          }
        </div>
      }
      <button type="button" (click)="addLanguage()">Add Language</button>
      <button type="submit">submit</button>
    </form>
  </div>

  <div class="AttributeContainer">
    <h4>Race traits</h4>
  </div>
</div>
