.list {
    position: absolute;
    background-color: rgb(207, 205, 205);
    padding: 0;
    width: 150px;
}

ul {
    list-style: none;
    padding: 0%;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

li {
    cursor: pointer;
    padding: 0 5% 0 5%;
}

li:hover {
    background-color: rgb(176, 175, 175) ;
}